@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';


.animation {
    outline: transparent;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, outline-color 0.3s;
  }
  
  .animation::after,
  .animation::before {
    position: absolute;
    height: 4px;
    left: 50%;
    background-color: #00B2A0;
    bottom: -6px;
    content: "";
    transition: width 0.3s, left 0.3s;
    width: 0;
  }
  
  .animation::before {
    top: -6px;
  }
  
  .animation:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #fff;
    background-color: #084044;
  }
  
  .animation:hover {
    color: #fff;
    background-color: #00B2A0;
  }
  
  .animation:hover::after,
  .animation:hover::before {
    width: 100%;
    left: 0;
  }
  
  .animation:active {
    color: rgb(20, 34, 224);
    background-color: #e3e63e;
  }

.header {
    padding: 45px 0 50px 0;
    font-weight: 500;
    font-size: 15px;
    color: $subtitle;
    line-height: 1.3;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 150px;
    }
}

.logo{
    &__img{
        object-fit: contain;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 35px;
        }

        &--footer {
            &:not(:last-child) {
                margin-right: 12px;

                &::after {
                    content: '|';
                    margin-left: 14px;
                    font-weight: 200px;
                    color: $default;
                }
            }
        }
    }
}

.user {
    display: flex;
    align-items: center;

    &__box {
        width: 180px;
        height: 52px;
        margin-right: 25px;
        display: flex;
        align-items: center;
        border-radius: 500px;
        background-color: $bg;
        padding: 0 22px;
        position: relative;

        &::after {
            content: '|';
            position: absolute;
            left: 50%;
            font-size: 30px;
            font-weight: 200px;
            color: #fff;
        }
    }

    &__link {
        position: relative;

        &--heart {
            width: 52px;
            height: 36px;

            &::before {
                content: url(../images/icons/heart_dark.svg);
                position: absolute;
                top: 26%;
                left: 33%;
            }
        }

        &--cart {
            margin-left: 25px;
            width: 52px;
            height: 36px;

            &::before {
                content: url(../images/icons/cart.svg);
                position: absolute;
                top: 26%;
                left: 33%;
            }
        }

        &--dots {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $bg-blue;
            position: relative;

            &::before {
                content: url(../images/icons/dots.svg);
                position: absolute;
                top: 26%;
                left: 33%;
            }
        }

        &--search {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: #edf1f4;
            position: relative;

            &::before {
                content: url(../images/icons/search.svg);
                position: absolute;
                top: 34%;
                left: 35%;
            }
        }
    }

    &__link:not(:last-child) {
        margin-right: 18px;
    }

    &__num {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #fff;
        top: 2px;
        right: 2px;
        font-size: 10px;
        color: $default;
        line-height: 0.7;
        padding: 4px;
    }
}

.footer {
    font-weight: 400;

    &__logo {
        display: block;
        margin-bottom: 22px;
    }

    &__top {
        padding: 75px 0 65px 0;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &--services {
            margin-right: 80px;
        }

        &--account {
            margin-right: 100px;
        }

        &:last-child {
            width: 287px;
            margin-right: 0;
        }

        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.3;
        font-family: 'DMSans';
        font-weight: 700;
        color: $title;
        margin-bottom: 13px;
        text-transform: uppercase;
    }

    &__link {
        display: block;
    }

    &__text {
        margin-bottom: 20px;
        margin-right: 17px;
    }

    &__bottom {
        padding: 28px 0 30px;
        display: flex;
        justify-content: space-between;
    }
}

.contact {
    font-style: normal;

    &__list {
        line-height: 2;
        width: 202px;
    }

    &__address-word {
        text-transform: uppercase;
    }
}

.subscribe-form {
    font-family: 'DMSans';
    font-weight: 400;

    &__input {
        background-color: #fef7f0;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 5px 10px 5px 15px;

        &::placeholder {
            color: #234969;
            font-size: 12px;
        }
    }

    &__button {
        @extend %main-button;
        padding: 12px 18px;
        margin-left: -4px;


    }
}

.top-slider {
    &__inner {
        height: 820px;
    }

    &__content{
        background-color: $bg;
        // background-image: url('../images/round.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 84% 50%;
        z-index: 1;
    }
    &__box {
        height: 820px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        max-width: 415px;
        margin-right: 118px;
        margin-bottom: 83px;
    }

    &__title {
        font-size: 72px;
        line-height: 1;
        color: $text;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.7;
        max-width: 370px;
        margin-bottom: 45px;
    }

    &__link {
        @extend %main-button;

        &::after {
            content: url(../images/arrow.png);
            margin-left: 60px;
        }

    }

    &__img{
        object-fit: contain;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -44px;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-53%);

        li {
            margin-right: 8px;

            button {
                width: 29px;
                height: 29px;
                border-radius: 50%;
                font-size: 10px;
                color: $text;
                background-color: #fde3cc;
                border: none;
                outline: transparent;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.services {

    &__inner {
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
        padding: 40px 0 30px 0;
        position: relative;

            &::after {
                content: ' ';
                background-color: #e8e4df;
                position: absolute;
                height: 170px;
                width: 1px;
                right: 34%;
                top: 0;
            }

            &::before {
                content: ' ';
                background-color: #e8e4df;
                position: absolute;
                height: 170px;
                width: 1px;
                left: 34%;
                top: 0;
            }
        }

    &__subtitle {
        font-size: 18px;
        color: #414141;
        font-family: 'DMSans';
        font-weight: 700;
    }

    &__text {
        color: #585858;
        font-family: 'DMSans';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 300px;

        &::before {
            margin-right: 28px;
        }

        &--support {
            position: relative;

            &::before {
                content: url(../images/icons/24.png);
            }
        }

        &--delivery::before {
            content: url(../images/icons/truck.png);
        }

        &--payment::before {
            content: url(../images/icons/payment.png);
        }
    }
}

.product-week {
    padding: 70px 0 60px 0px;
    text-align: center;
    background-color: #fcfcfc;

    &__cards {
        grid-template-columns: repeat(4, 1fr);

    }

    &__title {
        margin-bottom: 20px;
    }

    &__category {
        margin-bottom: 70px;
    }
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__choice {
        font-family: 'DMSans';
        font-weight: 700;
        font-size: 16px;
        color: #8b8b8b;
        background-color: transparent;
        padding: 0;
        border: none;
    }

    &__list {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.mixitup-control-active {
    color: #191919;
}

.cards {
    display: grid;
    grid-gap: 40px 30px;
}

.card {
    max-width: 270px;
    height: 370px;
    background-color: #fff;
    padding-top: 30px;
    font-size: 16px;
    line-height: 2;

    &__box {
        position: relative;
        overflow: hidden;
        margin-bottom: 50px;
    }

    &__image {
        margin: 0 auto;
        object-fit: none;
        height: 200px;
    }

    &__link-box {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateY(300%);
        transition: transform 0.3s;
    }

    &__link {
        display: block;
        background-color: #fff;
        margin-right: 20px;
        box-shadow: 2px 2px 4px #628091 inset;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 12px;
        transition: background-color 0.3s;

        path {
            transition: fill 0.3s;
        }
    }

    &__link:hover {
        path {
            fill: #fff;
        }

        background-color: $bg-blue;
    }

    &__link:last-child {
        margin-right: 0;
    }

    &:hover {
        .card__link-box {
            transform: translate(-50%);
        }
    }

    &__title {
        color: $text;
        font-family: 'DMSans';
        font-weight: 500;
        font-size: 16px;
        line-height: 2.5;
    }

    &__price {
        font-family: 'DMSans';
        color: $bg-blue;
        font-weight: 700;
    }
}

.lamps {
    padding-top: 130px;
    &__inner {
        display: flex;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #feefe2;
        position: relative;
        height: 390px;
        width: 100%;
        &:first-child{
            margin-right: 20px;
        }
    }

    &__title{
        font-family: 'DMSans';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        color: $text;
        margin-bottom: 20px;
    }
    &__text{
        max-width: 300px;
        font-family: 'Rubik';
        font-weight: 400;
        line-height: 1.8;
        color: $text;
        margin-bottom: 30px;
    }
    &__pic{
        margin-top: -183px;
        margin-right: 30px;
    }

    &__button{
        @extend %main-button;
        padding-left: 20px;

        &::after {
            content: url(../images/arrow.png);
            margin-left: 50px;
        }
    }

}

.design {
    padding: 95px 0 115px 0;
    text-align: center;

    &__title {
        margin-bottom: 17px;
    }

    &__category {
        margin-bottom: 70px;
    }

    &__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 20px;
    }

    &__card {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 27px;
        padding-left: 37px;
        max-width: 370px;
        height: 250px;
    }

    &__type {
        max-width: 190px;
        text-align: left;
        font-family: 'DMSans';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        color: #191919;
    }

    &__detail {
        font-size: 16px;
        color: $bg-blue;
    }
}

.video__link {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 500px;
    position: relative;
    transition: box-shadow 0.3s, outline-offset 0.3s;

    &::after {
        content: url(../images/play_bg.svg);
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &::before {
        content: url(../images/play.svg);
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:focus::after {
        outline: transparent;
        opacity: 1;
    }

    &:hover {
        outline: transparent;
        box-shadow: inset 0 0 200px #8fc0d6;
        outline-offset: 100px;

        &::after {
            opacity: 1;
        }
    }
}

.blog{
padding-top: 110px;
margin-bottom: -170px;

&__title{
    margin-bottom: 40px;
    position: relative;

    &::after{
        content: "View All    >";
        position: absolute;
        right: 0;
        top: 40%;
        font-size: 16px;
        font-family: 'DMSans';
        font-weight: 700;
    }
}
    &__articles{
        display: flex;
        justify-content: space-between;
    }
    &__article{
        background-color: #fff;
    }
&__pic{
    display: block;
    margin-bottom: 33px;
    line-height: 2.5;
}
    &__text{
        padding: 0 57px 10px 30px;
        font-family: 'DMSans';
        font-weight: 500;
        max-width: 370px;
        font-size: 18px;
        line-height: 1.3;
        color: #262626;
        height: 77px;
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        &::before{
            content: 'NEWS';
            text-align: center;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            line-height: 2;
            background-color: $bg-blue;
            border-radius: 30px;
            color: #fff;
            width: 100px;
            height: 30px;
            position: absolute;
            top: -50px;
        }
        
    }
    &__info{
        font-family: 'Rubik-Regular';
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        max-width: 210px;
        padding: 15px 0 15px 0;
    }
}

.partners {
    background-color: #faf3ec;
    height: 450px;
    padding-top: 225px;

    &__list {
        padding-right: 40px;
        height: 170px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            margin-right: 8px;

            button {
                width: 29px;
                height: 29px;
                border-radius: 50%;
                font-size: 10px;
                color: $text;
                background-color: #fde3cc;
                border: none;
                outline: transparent;
            }

            &.slick-active {
                button {
                    background-color: $default;
                    color: #fff;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}